<div ng-app="myApp" ng-controller="myController">
    <input type="button" value="Add Tag" ng-click="addTag()" style="float:right" />
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{action}} Class</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="className">Class's Name</label>
                        <input type="text" class="form-control" id="className" ng-model="tagName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" ng-model="tagId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelTag()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="AddEditTag()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{action}} Session</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="text-align:-webkit-center">
                        <label for="sessionTitle">Session's Title</label>
                        <input type="text" class="form-control" id="sessionTitle" ng-model="classTitle" required style="text-align:center">
                    </div>
                    <div class="form-group">
                        <label>Position is at</label>
                        <div>
                            <a href="https://maps.google.com/?q={{latitude}},{{longitude}}" target="_blank" id="place" latitude="{{latitude}}" longitude="{{longitude}}">View on Map</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" ng-model="classId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelClass()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="AddEditClass(classTitle)">Save changes</button>
                    <button type="button" class="btn btn-warning" ng-click="stopClass(classId)" ng-show="btnStop" style="float:left">{{stop === false ? 'Disable' : 'Enable'}}</button>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="{{tag.id === tagId ? 'active' : null}}" ng-repeat="tag in myTags">
            <a data-toggle="tab" href="#{{tag.id}}">{{tag.Name}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{{tag.id}}" class="tab-pane fade {{tag.id === tagId ? 'in active' : null}}" ng-repeat="tag in myTags">
            <input type="button" value="Delete!!!" ng-click="delTag(tag)" style="float:right" />
            <input type="button" value="Edit Tag" ng-click="editTag(tag)" style="float:right" />
            <input type="button" value="Add Class" ng-click="addClass(tag.id)" style="float:right" />
            <table class="table table-bordered table-hover">
                <tr>
                    <td><b>Date</b></td>
                    <td><b>Code</b></td>
                    <td><b>Title</b></td>
                    <td>Actions</td>
                </tr>
                <tr ng-repeat="class in myClasses.get(tag.id)">
                    <td>{{showDate(class.date)}}</td>
                    <td>{{showCode(class)}}</td>
                    <td>{{class.Title}}</td>
                    <td>
                        <a class="btn" href="@Url.Action("Display", "Home")/{{class.id}}"><b>View</b></a>
                        <button ng-click="editClass(class)">Edit</button>
                        <button ng-click="delClass(class)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        angular.module('myApp', []).service('myService', function ($http) {
            this.getTags = function () {
                return $http.get('@Url.Action("getAll", "MyTags")');
            }
            this.getTag = function (tagId) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("getById", "MyTags")',
                    params: {
                        id: tagId
                    }
                });
            }
            this.addTag = function (tag) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("create", "MyTags")',
                    data: JSON.stringify(tag),
                    dataType: 'json'
                });
            }
            this.editTag = function (tag) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("update", "MyTags")',
                    data: JSON.stringify(tag),
                    dataType: 'json'
                });
            }
            this.delTag = function (tagId) {
                return $http.post(`@Url.Action("delete", "MyTags")?id=${tagId}`);
            }
            this.getClasses = function (tagId) {
                return $http.get(`@Url.Action("getByTag", "MyClasses")?tagId=${tagId}`);
            }
            this.getClass = function (classId) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("getById", "MyClasses")',
                    params: {
                        id: classId
                    }
                });
            }
            this.addClass = function ($class) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("create", "MyClasses")',
                    data: JSON.stringify($class),
                    dataType: 'json'
                });
            }
            this.editClass = function ($class) {
                return $http({
                    method: 'post',
                    url: '@Url.Action("update", "MyClasses")',
                    data: JSON.stringify($class),
                    dataType: 'json'
                });
            }
            this.delClass = function (classId) {
                return $http.post(`@Url.Action("delete", "MyClasses")?id=${classId}`);
            }
        }).controller('myController', function ($scope, myService) {
            getAllClasses();
            function getAllClasses() {
                myService.getTags().then(function (tags) {
                    $scope.myTags = tags.data;
                    $scope.myClasses = new Map();
                    tags.data.forEach(function (tag) {
                        myService.getClasses(tag.id).then(function (classes) {
                            $scope.myClasses.set(tag.id, classes.data);
                        });
                    })
                    if ($scope.action == 'addTag')
                        $scope.tagId = tags.data[tags.data.length - 1].id;
                    getPosition();
                }, function () {
                    alert('Error in getting MyTags records');
                });
            }
            $scope.addTag = function () {
                clearFields();
                $scope.action = 'Create';
                $('.bd-example-modal-sm').modal();
            }
            $scope.editTag = function (tag) {
                myService.getTag(tag.id).then(function (tag) {
                    $scope.tagId = tag.data.id;
                    $scope.tagName = tag.data.Name;
                    $scope.action = 'Update';
                    $('.bd-example-modal-sm').modal();
                }, function () {
                    alert('Error in getting MyTags records');
                });
            }
            $scope.AddEditTag = function () {
                var tag = {
                    Name: $scope.tagName
                }
                if ($scope.action == 'Create') {
                    myService.addTag(tag).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                        $('.bd-example-modal-sm').modal('hide');
                    }, function () {
                        alert('Error in getting MyTags records');
                    });
                } else { // Update
                    tag.id = $scope.tagId;
                    myService.editTag(tag).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                        $('.bd-example-modal-sm').modal('hide');
                    }, function () {
                        alert('Error in getting MyTags records');
                    });
                }
            }
            $scope.delTag = function (tag) {
                if (prompt("Do you want to delete this tag with its all classes? If Yes then type the tag's name here:") == tag.Name)
                    myService.delTag(tag.id).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                    }, function () {
                        alert('Error in getting MyTags records');
                    });
            }
            $scope.cancelTag = function () {
                clearFields();
                $('.bd-example-modal-sm').modal('hide');
            }
            function clearFields() {
                $scope.tagId = '';
                $scope.tagName = '';
                $scope.classTitle = '';
            }
            $scope.cancelClass = function () {
                clearFields();
                $('#exampleModalCenter').modal('hide');
            }
            $scope.addClass = function (tagId) {
                clearFields();
                $scope.action = 'Create';
                $('#exampleModalCenter').modal();
                $scope.btnDisable = false;
                $scope.tagId = tagId;
                getPosition();
            }
            $scope.editClass = function ($class) {
                myService.getClass($class.id).then(function ($class) {
                    $scope.classId = $class.data.id;
                    $scope.tagId = $class.data.Tag_id;
                    $scope.classTitle = $class.data.Title;
                    $scope.latitude = $class.data.Latitude;
                    $scope.longitude = $class.data.Longitude;
                    $scope.stop = $class.data.stop;
                    $scope.action = 'Update';
                    $('#exampleModalCenter').modal();
                    $scope.btnStop = true;
                    // show place
                    $.get(`https://locationiq.org/v1/reverse.php?key=c81b170bd5903d&lat=${$scope.latitude}&lon=${$scope.longitude}&format=json`, function (data) {
                        $('a:visible[id=place]').text(data.display_name);
                    });
                }, function () {
                    alert('Error in getting MyClasses records');
                });
            }
            $scope.AddEditClass = function (classTitle) {
                var $class = {
                    Tag_id: $scope.tagId,
                    Title: classTitle,
                    Latitude: $scope.latitude,
                    Longitude: $scope.longitude
                }
                if ($scope.action == 'Create') {
                    myService.addClass($class).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                        $('#exampleModalCenter').modal('hide');
                    }, function () {
                        alert('Error in getting MyClasses records');
                    });
                } else { // Update
                    $class.id = $scope.classId;
                    $class.stop = $scope.stop;
                    myService.editClass($class).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                        $('#exampleModalCenter').modal('hide');
                    }, function () {
                        alert('Error in getting MyClasses records');
                    });
                }
            }
            $scope.delClass = function ($class) {
                if (prompt("Do you want to delete this class with its all data? If Yes then type the class's title here:") == $class.Title)
                    myService.delClass($class.id).then(function (msg) {
                        $scope.tagId = $class.Tag_id;
                        getAllClasses();
                        alert(msg.data);
                    }, function () {
                        alert('Error in getting MyClasses records');
                    });
            }
            $scope.stopClass = function (classId) {
                myService.getClass(classId).then(function ($class) {
                    $class.data.stop = !$scope.stop;
                    myService.editClass($class.data).then(function (msg) {
                        getAllClasses();
                        alert(msg.data);
                        $('#exampleModalCenter').modal('hide');
                    }, function () {
                        alert('Error in getting MyClasses records');
                    });
                }, function () {
                    alert('Error in getting MyClasses records');
                });
            }
            function getPosition() {
                if (navigator.geolocation)
                    navigator.geolocation.getCurrentPosition(function (position) {
                        $scope.latitude = position.coords.latitude;
                        $scope.longitude = position.coords.longitude;
                        $.get(`https://locationiq.org/v1/reverse.php?key=c81b170bd5903d&lat=${$scope.latitude}&lon=${$scope.longitude}&format=json`, function (data) {
                            $('a:visible[id=place]').text(data.display_name);
                        });
                    });
            }
            $scope.showDate = function (str) {
                return new Date(parseInt(str.replace('/Date(', '').replace(')/', ''))).toDateString();
            }
            $scope.showCode = function ($class) {
                if ($class.stop == false) {
                    var latitude = Math.round(parseFloat($class.Latitude)*10);
                    var longitude = Math.round(parseFloat($class.Longitude)*10);
                    return `${$class.id}-${latitude+longitude}`;
                } else return 'Closed';
            }
        });
    </script>
}
